    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{{ path("default") }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('favicon.png') }}" height="24" alt="Logo O'flix">
                <span class="header-logo__title">O'flix</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path("default") }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home_index') }}"><i class="bi bi-film"></i> Films, séries TV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_favoris')}}"><i class="bi bi-bookmark"></i> Ma liste</a>
                    </li>
                </ul>
                {# Dylan
                {% if app.user == null %}
				<span>User</span>
				<a href="{{ path('app_login')}}" class="btn btn-danger me-2">Connexion</a>
			{% else %}
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
							<span>{{ app.user.email }}</span>
							<i class="bi bi-person-square"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">{{app.user.roles[0]}}</a>
								
							</li>


							
							<li>
								<a class="dropdown-item" href="{{ path('app_backoffice_dashboard') }}">Backoffice</a>
							</li>




							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a>
							</li>
						</ul>
					</li>
				</ul>
			{% endif %}
                #}
                {# Julien
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        
                             {% dump(app.user)%}
                             {% if app.user %}
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <span>{{ app.user.email}}</span>
                            <i class="bi bi-person-square"></i>


                            </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_backoffice') }}">Backoffice</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a></li>
                        </ul>
                            {% else %}


                            <a href="{{ path('app_login')}}" class="btn btn-danger me-2">Connexion</a>
                             </li>
                


                            
                            {% endif %}
                            
                        </ul>
                #}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            {# if app.user != null #}
                            {% if app.user %}
                                {# dump(app.user) #}
                                <span>{{ app.user.email }}</span>
                                <i class="bi bi-person-square"></i>
                            {% else %}
                                <span>Anonyme</span>
                                <i class="bi bi-person-square"></i>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_backoffice_admin')}}">Backoffice</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>

                <a href="{{ path('app_login')}}" class="btn btn-danger me-2">Connexion</a>

                <form class="d-flex" action="list.html">
                    <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher...">
                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
